:root {

    /* Paper */
  
    --paper: #E8DDC8;
    --paper-dark: #CDBD9F;

  
    /* Industrial */
  
    --industrial-black: #111417;
    --industrial-navy: #0B1A26;
  
  
    /* Signals */
  
    --signal-primary-soft: #8f1b1b;
    --signal-primary: #ce2222;
    --signal-primary-glow: #ff3b3b;

    --signal-secondary: #4181b6;
    
    --signal-additional: #e0eefa;
  
  
    /* Technical */
  
    --technical-grid-soft: #26333A;
    --technical-grid: #192026;
    --technical-grid-major: #35444B;

    --technical-code: #27333D;
    --technical-line: #6b6d6e;

    /* Cutting mat */
    --cutting-mat-base: #08120E;
    --cutting-mat-surface: #13251D;
    --cutting-mat-shadow: #050907;



    /* RGB type */
    /* Paper */

    --paper-rgb: 232, 221, 200;
    --paper-dark-rgb: 205, 189, 159;
    --paper-highlight-rgb: 255, 249, 235;
    --paper-shadow-rgb: var(--paper-dark-rgb);


    /* Industrial */

    --industrial-black-rgb: 17, 20, 23;
    --industrial-navy-rgb: 11, 26, 38;


    /* Signals */

    --signal-primary-soft-rgb: 143, 27, 27;
    --signal-primary-rgb: 206, 34, 34;
    --signal-primary-glow-rgb: 255, 59, 59;

    --signal-secondary-rgb: 65, 129, 182;

    --signal-additional-rgb: 224, 238, 234;


    /* Technical */

    --technical-grid-soft-rgb: 38, 51, 58;
    --technical-grid-rgb: 25, 32, 38;
    --technical-grid-major-rgb: 53, 68, 75;

    --technical-code-rgb: 39, 51, 61;
    --technical-line-rgb: 107, 109, 110;


    /* Cutting mat */

    --cutting-mat-base-rgb: 8, 18, 14;
    --cutting-mat-surface-rgb: 19, 37, 29;
    --cutting-mat-shadow-rgb: 5, 9, 7;
    --cutting-mat-grid: rgba(86, 106, 88, .12);
    --cutting-mat-grid-major: rgba(115, 133, 111, .18);
  
    /* Fonts */

    --font-body:
        "IBM Plex Sans",
        sans-serif;

    --font-heading:
        "Space Grotesk",
        sans-serif;

    --font-code:
        "JetBrains Mono",
        monospace;

    --font-poster:
        "Manrope",
        sans-serif;

    --font-paper:
        "Golos Text",
        sans-serif;
  }

@layer utilities {

  .border-gradient-right {
      background: linear-gradient(
          to bottom,
          theme('colors.signal-primary') 0%,
          theme('colors.technical-line') 20%,
          theme('colors.signal-primary') 45%,
          theme('colors.technical-line') 65%,
          transparent 100%
      );
  }

}